/vendor
/node_modules
/public/storage
/public/pics
/public/ckeditor
/public/js/app.js
/public/downloads
Homestead.yaml
Homestead.json
.env
.project
.settings/
.idea/
public/favicon-old.ico
_ide_helper.php
/public/.htaccess
