body {
	background-image: url('../img/stars.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
}

.bleog-blue {color: #3ea4e2;}

.button-without-decoration {
	border: none;
	background-color: initial;
	outline-style: none;
}

.handHover:hover {
	cursor: pointer;
}

.jumbotron p {
	font-size: 14px;
}

.panel-heading-green {
	color: #fff;
	background-color: #33B7A8;
	border-color: #33B7A8;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-primary-green {
	border-color: #33B7A8;
}

.ellip {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.panel-default {
	border-color: #0E84CE;
}

.p-relative {position: relative;}
.p-absolute {position: absolute;}

.nav-blue-link {
	color: blue;
}

#memories-list {
	padding: 20px;
	background-color: white;
	border: 1px solid #3ea4e2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#memories-list > div {
	border-bottom: 1px solid #3ea4e2;
	padding: 15px;
}
#memories-list > div:nth-child(even) > div {
	width: 50%;
	float: right;
}
#memories-list > div:nth-child(odd) > div {
	width: 50%;
	float: left;
}

#memories-list > div:last-child {
	border-bottom: none;
}

.memory-cancel {
	position: absolute;
	top: 15px;
	right: 0;
	color: orange;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 600ms, visibility 600ms;
	transition: opacity 600ms, visibility 600ms;
}

.memory-cancel:hover {
	color: red;
}

.memory-item:hover .memory-cancel {
	visibility: visible;
	opacity: 1;
}

@media only screen and (max-width: 768px) {

	#memories-list > div:nth-child(even) > div {
		width: 100%;
		float: none;
	}
	#memories-list > div:nth-child(odd) > div {
		width: 100%;
		float: none;
	}
}